# Ignore These, They are Logging for my setup script
*.log
*.old
*.json

# Ignore these, they are produced by setup scripts
mattermost/mattermost-operator.yaml
mattermost/mysql-operator.yaml
mattermost/minio-operator.yaml
mattermost.yaml
